<div class="container">
    <form class="col s12 z-depth-6 card-panel">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="first_name" type="text" class="validate" required>
                <label for="first_name">Nombres</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="last_name" type="text" class="validate" required>
                <label for="last_name">Apellidos</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input id="telefono" type="text" class="validate" required>
                <label for="telefono">Teléfono</label>
            </div>

            <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate" required>
                <label for="email">Correo Electronico</label>
            </div>
        </div>

        <div class="input-field col s6">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
            <label for="icon_prefix2">Comentarios</label>
        </div>          
        <div class="row">
            <div class="container">
                <div class="input-field col s6">
                    <a href="#" class="btn waves-effect waves-light col s12">Ser Contactado</a>
                </div>
            </div>
        </div>
    </form>
</div>