<div class="navbar1">
    <nav class="purple darken-1">
        <div class="container">
            <div class="nav-wrapper">
                <a alt="" routerLink="/inicio" class="brand-logo">Mascota Feliz</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a routerLink="/administracion/listar-mascotas">Mascotas</a></li>
                    <li><a routerLink="/administracion/crear-usuario">Usuarios</a></li>
                    <li><a routerLink="/gestion/contactame">Quiero Información</a></li>
                    <li><a routerLink="/administracion/crear-mascota">Afiliacion Mascota</a></li>
                    <li><a routerLink="/seguridad/cambiar-clave">Cambiar Clave</a></li>
                    <li><a routerLink="/seguridad/identificar">Iniciar Sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a routerLink="/administracion/listar-mascotas">Macotas</a></li>
        <li><a routerLink="/administracion/crear-usuario">Usuarios</a></li>
        <li><a routerLink="/gestion/contactame">Quiero Información</a></li>
        <li><a routerLink="/administracion/crear-mascota">Afiliacion Mascota</a></li>
        <li><a routerLink="/seguridad/cambiar-clave">Cambiar Clave</a></li>
        <li><a routerLink="/seguridad/identificar">Iniciar Sesión</a></li>
    </ul>
</div>