<footer class="page-footer">
    <div class="purple darken-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Mascota Feliz</h5>
                    <p class="grey-text text-lighten-4">Todo para tu mascota en un solo lugar
                    </p>
                    <p class="white-text">Oficina Ppal <br>Cra 38 # 45-59 <br>B/ Las Flores
                        <br>
                        Ibagué, Tolima.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a routerLink="/administracion/crear-usuario">Usuarios</a></li>
                        <li><a routerLink="/gestion/contacto">Quiero Información</a></li>
                        <li><a routerLink="/administracion/crear-mascota">Afiliacion Mascota</a></li>
                        <li><a routerLink="/seguridad/cambiar-clave">Cambiar Clave</a></li>
                        <li><a routerLink="/seguridad/identificacion">Iniciar Sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                © 2022 Mascota Feliz S.A.S.
                <a class="grey-text text-lighten-4 right" routerLink="#!">More Links</a>
            </div>
        </div>
    </div>

</footer>