<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Oficina Ppal</h5>
                <p class="grey-text text-lighten-4">Cra 38 # 45-59 <br>B/ Las Flores <br> </p>
                <p class="grey-text text-lighten-4"> </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">EPS</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Tienda</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Sucursales</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Planes</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2022 Mascota Feliz S.A.S.
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>