<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./listar-mascotas.component.css">
</head>

<body>
    <div class="contenedor">
        <h1>Lista de Mascotas</h1>
    </div>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Nombre</label>
                </div>
                <div class="select">
                    <label>Estado</label>
                    <select class="browser-default col s6">
                        <option value="" selected>Choose your option</option>
                        <option value="1">Aceptado</option>
                        <option value="2">Rechazado</option>
                        <option value="3">En espera</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Especie</th>
                <th>Plan</th>
                <th>Estado</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Alvin</td>
                <td>Canino</td>
                <td>Premium</td>
                <td>Aprobado</td>
            </tr>
            <tr>
                <td>Alan</td>
                <td>Felino</td>
                <td>Basico</td>
                <td>Rechazado</td>
            </tr>
            <tr>
                <td>Jonathan</td>
                <td>Ave</td>
                <td>Especial</td>
                <td>En espera</td>
            </tr>
        </tbody>
    </table>
</body>

</html>